Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a='pw'
b=[1,2]
c=20.56
d=(1,2,3)
print(type(a),type(b),type(c),type(d))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

type(var1)==string

type(var2)==invalid datatype

type(var3)==list

type(varr)==int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ -- Returns the Division

% -- Returns the remainder

// -- Returns the quotient

** -- Returns the exponential value

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
lst=[1,2,"s",645, "assign",555,'dds',122,6.54,20.36]
for elements in lst:
    print(elements)

1
2
s
645
assign
555
dds
122
6.54
20.36

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [17]:
numA=32
a=numA
numB=2
count=0
while(numA%numB==0):
    numA=numA/numB
    count+=1
    
else:
    print(str(a)+' is divisible by '+ str(numB)+", "+str(count)+' times')

32 is divisible by 2, 5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [19]:
lst=range(1,26)
for num in lst:
    if num%3==0:
        print(num)

3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable datatypes are those datatypes in which we can modify the object it contains. Mutability is not similar to replacing the entire variable, it is modifying the values it contains.

For ex: List

lst=[1,2,'sun']

lst[0]==14

If we assign the value at index 0 to be 14, the same list located at a definite memory will be modified such that if we fetch list again, it will have 14 at index 0. It's memory address will also be same because it's the same list.

Immutable datatypes are those where it is not possible to modify the values of that variable.

for ex:
    
strings--- st=='sum'

now if we  try to perform st[2]='n' ,it will show error, because string is immutable datatype.